.section__more--menu{
    padding: 0;

}

.container__more--menu{
    // display: flex;
    width: 100%;
    // overflow: scroll;
}

.wrapper__more {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: $color-gray-lite;
    transition: 0.5s;
    transform: translateX(100%);

}

.wrapper__more--active{
    transform: translateX(0%);
}


.button__more--close {
    display: flex;
    justify-content: center;
    

    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;

    width: 45px;
    height: 30px;
    border-radius: 6px;

    font-size: 20px;
    font-weight: 800;
    color: $color-blak-000;
    background-color: $color-gray-lite;
    border: 2px solid $color-green-link;
    

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        border: 2px solid $color-gray-text;
        background-color: $color-green-link;
        color: white;
    }

    &:hover .svg__icon-coin-euro,
    &:focus .svg__icon-coin-euro{
        fill: $color-gray-lite;
    }


}

.menu__more {
    width: 100%;
    min-height: 90%;
    // max-height: 800px;
    margin-top: 30px;
    // height: 100%;
    margin-bottom: 30px;
    border-radius: 10px;

    background-color: white;
    overflow: scroll;
}