<section class="section__debit">
  <div class="container">
    <div class="container__debit">
      <h2 class="title__debit">mastercard debit</h2>
      <p class="amount__debit">3520.25 EUR</p>
    </div>
    <div class="container__card">
      <div class="requisites__card">
        <p class="number__card">5168 8778 XXXX 8200</p>
        <p class="date--cvv__card">
          <span class="date__card">07/25</span
          ><span class="cvv__card">cvv</span>
        </p>
        <p class="owner__card">Yurii Voloshyn</p>
      </div>
      <div class="mastercard__card">
        <p class="number__card">CSOB</p>
        <img src="./images/mastercard-logo.png" alt="mastercard" />
      </div>
    </div>
  </div>
</section>
