<section class="section__modal--put">
  <div class="container container__modal--put">
    <div class="modal__put--overley is-hidden">
      <div class="modal__put--window">
        <button class="button__put--close" type="button">&times;</button>
        <textarea
          class="textarea__put--json"
          name="textarea__put"
          id="myTextarea"
          placeholder="Enter your json QR code "
        ></textarea>
        <button class="button__put--submit" type="submit">
          Add new QR json
        </button>
      </div>
    </div>
  </div>
</section>
