<section class="section__more--menu" data-menu>
  <div class="wrapper__more is-hidden">
    <div class="container__more--menu">
      <div class="menu__more">
        <button type="button" class="button__more--close" data-more-close>
          &times;
        </button>
        <hr />
        <h1 class="detailed__title"></h1>
        <ul class="detailed__list"></ul>
        <hr />
        <p class="sum__text">
          Price <span class="unit__totalPrice--red"></span>
        </p>
        <p class="sum__text">
          Discount <span class="unit__totalDiscount--green"></span>
        </p>
        <p class="sum__text">Sum <span class="unit__totalSum--black"></span></p>
        <hr />
      </div>
    </div>
  </div>
</section>
