<section class="section__more--menu" data-menu>
  <div class="wrapper__more is-hidden">
    <div class="container container__more--menu">
      <div class="menu__more">
        <button type="button" class="button__more--close" data-more-close>
          &times;
        </button>
        <hr />
        <div class="detailed__order">
          <h1 class="detailed__title">Tesco s.r.o</h1>
          <ul class="detailed__list">
            <li class="detailed__item">
              <h2 class="unit__name">Name 95 ExtraDrive</h2>
              <p class="unit__quantity">Quantity 26.33</p>
              <p class="unit__price">
                Price <span data-itemType-K>44.58</span>
              </p>
            </li>
            <li class="detailed__item">
              <h2 class="unit__name">Name 95 ExtraDrive</h2>
              <p class="unit__quantity">Quantity 26.33</p>
              <p class="unit__price">
                Price <span data-itemType-K>44.58</span>
              </p>
            </li>
          </ul>
          <!-- <p class="unit__totalPrice">totalPrice <span>44.58</span></p> -->
        </div>
      </div>
    </div>
  </div>
</section>
