<section class="section__more--menu" data-menu>
  <div class="wrapper__more is-hidden">
    <div class="container container__more--menu">
      <div class="menu__more">
        <button type="button" class="button__more--close" data-more-close>
          &times;
        </button>
        <hr />
        <div class="menu__content">
          <h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
            nostrum fugiat adipisci numquam saepe veritatis quaerat pariatur,
            aspernatur totam! Deleniti fuga, beatae nemo, debitis saepe,
            possimus dolor minima illo quis doloribus quo earum fugiat
            praesentium at. Perferendis dolorum animi repudiandae recusandae
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
