<section class="section__tools">
  <div class="container">
    <div class="container__tools">
      <ul class="list__tools">
        <li class="item__tools">
          <!-- <a class="link__tools" href="#"></a> -->
          <button type="button" class="button__tools"></button>
        </li>
        <li class="item__tools">
          <!-- <a class="link__tools" href="#"></a> -->
          <button type="button" class="button__tools"></button>
        </li>
        <li class="item__tools">
          <!-- <a class="link__tools" href="#"></a> -->
          <button type="button" class="button__tools"></button>
        </li>
        <li class="item__tools">
          <!-- <a class="link__tools" href="#"></a> -->
          <button type="button" class="button__tools"></button>
        </li>
      </ul>
    </div>
  </div>
</section>
