<section class="section__tools">
  <div class="container container__tools">
    <ul class="list__tools">
      <li class="item__tools">
        <!-- <a class="link__tools" href="#"></a> -->
        <button type="button" class="button__tools">Search by date</button>
      </li>
      <li class="item__tools">
        <!-- <a class="link__tools" href="#"></a> -->
        <button type="button" class="button__tools button__tools--json">
          Add json { }
        </button>
      </li>
    </ul>
  </div>
</section>
