<section class="section__transaction">
  <div class="container">
    <ul class="list__transaction">
      <li class="item__transaction">
        <button class="button__transaction">
          <svg class="svg__icon-coin-euro">
            <use
              class="use__icon-coin-euro"
              href="./images/symbol-defs.svg#icon-coin-euro"
            ></use>
          </svg>
        </button>
        <div class="general__information">
          <p class="title__transaction">Translation for services</p>
          <p class="place__transaction">Poprad Slovensko 05801</p>
          <p class="company__transaction">Martinus, s.r.o.</p>
        </div>
        <div class="sum__transaction">
          <p class="value__transaction">1220.20 €</p>
        </div>
      </li>
    </ul>
  </div>
</section>
